*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-image: url("pexels-photo-1181324.jpeg");
    background-size: cover;
    height: 600px;
}
.header .head #logo{
    font-family: "Castellar", Arial, sans-serif;
    color: orange;
    margin: 0 0 0 10px;
    padding: 10px;
}
.header .head nav ul{
    list-style: none;
    margin: -73px 0 0  720px;
}
.header .head nav ul li{
    float: left;
    padding: 30px;
}
.header .head nav ul li a{
    text-decoration: none;
    font-family: "Bahnschrift SemiBold", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.header .info{
    width: 550px;
    color: white;
    font-family: "Baskerville Old Face", Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 150px 0 0 100px;
}
.header .info #highlight{
    color: orange;
}
.header .info #content{
    margin: 10px 0 0 0;
    font-size: 16px;
    font-family: "Bell MT";
}
